@charset 'utf-8';

*, *:before, *:after{box-sizing: border-box;}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main{display: block;}
body{line-height: 1; font-family: $font-nanum; background:$color-g}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
input{-webkit-appearance: none; border-radius: 0;}

//variables
//color
$color-g:#f4f4f4;

//weight
$fs_w:200;
$fs_n:400;
$fs_b:700;
$fs_bb:900;

//images
$url-images: "https://hangeul.naver.com/webfont/";

//font
$font-nanum:'NanumSquare';

//mixin
@mixin txt-blind{text-indent:-9999em; font-size:0; line-height:0;}
@mixin clear{content:""; display:block; clear:both;}
@mixin border{border:1px solid #dddddd; border-radius:10px;}

@font-face {
    font-family:'NanumSquare';
    src: url($url-images+'NanumSquare/NanumSquareR.eot');
    src: url($url-images+'NanumSquareRound/NanumSquareR.eot?#iefix') format('embedded-opentype'),
        url($url-images+'NanumSquare/NanumSquareR.woff2') format('woff2'),
        url($url-images+'NanumSquare/NanumSquareR.woff') format('woff'),
        url($url-images+'NanumSquare/NanumSquareR.ttf') format('truetype');
}
@font-face {
    font-family:'NanumSquareEB';
    src: url($url-images+'NanumSquare/NanumSquareEB.eot');
    src: url($url-images+'NanumSquareRound/NanumSquareR.eot?#iefix') format('embedded-opentype'),
        url($url-images+'NanumSquare/NanumSquareEB.woff2') format('woff2'),
        url($url-images+'NanumSquare/NanumSquareEB.woff') format('woff'),
        url($url-images+'NanumSquare/NanumSquareEB.ttf') format('truetype');
}