@charset 'utf-8';

//width
$w100: 100%;
$w50: 50%;

//weight
$fs_n:400;
$fs_b:700;

//color
$color-bk:#000000;
$color-gr:#323232;
$color-r-gr:#8a8a8d;
$color-red:#f60000;
$color-w:#ffffff;
$color-yell:#ffdb69;
$color-blue:#0069df;
$color-genieb:#0096ff;
$bgcolor-gr:#f4f4f4;
$bgcolor-r-gr:#fafafa;

$ft_normal:'NanumSquare';
$url-font: "/commons/font/";
$url-images: "//image.genie.co.kr/imageg/mobile_web/payment/";

//font
@font-face {font-family:$ft_normal; font-style: normal; font-weight: 400; src: url($url-font+"NanumSquareRoundR.eot"); src: url($url-font+"NanumSquareRoundR.eot?#iefix") format('embedded-opentype'), url($url-font+"NanumSquareRoundR.woff2") format('woff2'), url($url-font+"NanumSquareRoundR.woff") format('woff'), url($url-font+"NanumSquareRoundR.ttf") format('truetype');}

//mixin
@mixin pay-title {font-weight:$fs_b; color:$color-bk; font-size:0.944rem;}
@mixin pay-icon {color:$color-w; font-size:0.556rem; border-radius:0.389rem; height:1rem; font-weight:$fs_n; padding:0.25rem 0.333rem 0; margin-left:0.111rem; opacity:.6; display:inline-block;vertical-align:0.18rem}
@mixin gp-box{border-radius:0.778rem; height:1.556rem; line-height:1.556rem; border:#bcbcbc 1px solid; color:$color-r-gr;padding:0 0.611rem; font-weight:$fs_b;}
@mixin caution{font-size:0.667rem; padding:0 0 0 0.4rem; color:$color-r-gr;position:relative; line-height:1rem; margin-bottom:0.444rem;
	&::before{content:""; position:absolute;left:0;top:0.4rem; width:0.111rem; height:0.111rem; background:$color-r-gr}
}
@mixin basic-txt{font-size:0.833rem; color:$color-bk;}
@mixin pay-btn{height:2.444rem; font-weight: $fs_b;border-radius:0.556rem;}
@mixin pay-btn-blue{background:$color-genieb; color:$color-w}
@mixin clearboth{content:""; display:block; clear:both;}