@charset "UTF-8";

/* for layout */
#wrapper {height:100%; padding:0 0 0 180px}
#header .side {position:absolute; left:0; top:0; width:180px; height:100%; border-left:1px solid #e6e6e6; border-right:1px solid #d9d9d9}
#header .side .top {height:70px; padding:18px 0 0 16px}
#header .side .top *{float:left}
#header .side .top h1 a {width:87px; height:34px; text-indent:-999em; background:url(/images/layout/logo_5.0.png)}
#header .side .top .history {padding:7px 0 0 0; /*margin-left:17px*/ margin-left:7px /* beta */}
#header .side .top .history a {width:20px; height:20px; text-indent:-999em; opacity:.4}
#header .side .top .history a:not(.disabled):hover,
#header .side .top .history a:not(.disabled):focus {opacity:1}
#header .side .top .history .prev {background:url(/images/layout/btn-nav-prev.png) 2px 4px no-repeat}
#header .side .top .history .next {background:url(/images/layout/btn-nav-next.png) 2px 4px no-repeat; margin-left:6px}
#header .side .top .history .disabled {opacity:.2; cursor:default}
#header .side .bottom {height:176px; padding-top:12px}
#header .side .bottom .notice {height:38px; padding:0 14px 0 19px}
#header .side .bottom .notice a {display:block; position:relative; padding-left:8px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#8c8c8c; line-height:normal}
#header .side .bottom .notice a:after {content:''; position:absolute; left:0; top:8px; width:3px; height:3px; background:#8c8c8c; border-radius:100%}
#header .side .bottom .banner .swiper-paginate {height:10px; text-align:center; font-size:0}
#header .side .bottom .banner .swiper-paginate span {width:4px; height:4px; vertical-align:top; background:#d8d8d9; opacity:1}
#header .side .bottom .banner .swiper-paginate span.swiper-pagination-bullet-active {background:#27282d}
#gnb {height:calc(100% - 246px); overflow-x:hidden; overflow-y:auto}
#gnb .quick {padding:0 0 0 18px}
#gnb .quick li {display:inline-block; padding-top: 1px;}
#gnb .quick li ~ li {padding-left:11px; margin-left:6px; position:relative}
#gnb .quick li ~ li:before,
#gnb .quick li ~ li:after {content:''; position:absolute; top:1px; left:0; height:12px; border-left:1px solid #f0f0f0}
#gnb .quick li ~ li:after {content:''; left:1px; border-left:1px solid #f3f3f3}
#gnb .quick li a {color:#8c8c8c}
#gnb .nav {margin-top:24px; padding:0 14px 20px 18px}
#gnb .nav li a {display:inline-block; font-size:13px; color:#666}
#gnb .nav > li {position:relative; padding:0 0 0 26px}
#gnb .nav > li > a {position:relative; z-index:1}
#gnb .nav > li:after {content:''; position:absolute; right:0; top:9px; width:11px; height:6px; background:url(/images/layout/ico-gnb-toggle.png)}
#gnb .nav > li:hover:after {background-position:-11px 0}
#gnb .nav > li.open:after {background-position:0 -6px}
#gnb .nav > li.open:hover:after {background-position:-11px -6px}
#gnb .nav > li.n1 {background:url(/images/layout/ico-gnb-top.png) 0 0 no-repeat}
#gnb .nav > li.n2 {background:url(/images/layout/ico-gnb-new.png) 0 0 no-repeat}
#gnb .nav > li.n3 {background:url(/images/layout/ico-gnb-genre.png) 0 0 no-repeat}
#gnb .nav > li.n4 {background:url(/images/layout/ico-gnb-recomm.png) 0 0 no-repeat}
#gnb .nav > li.n4:after {display:none}
#gnb .nav > li.n5 {background:url(/images/layout/ico-gnb-my.png) 0 0 no-repeat}
#gnb .nav > li {padding-bottom:18px; line-height:1em}
#gnb .nav > li:last-child {padding-bottom:0}
#gnb .nav > li > a {display:block; padding:4px 0 4px 0; color:#27282d}
#gnb .nav > li > a:hover,
#gnb .nav > li > a:focus {text-decoration:none}
#gnb .nav > li > ul {display:none; margin-top:6px}
#gnb .nav > li.open > ul {display:block}
#gnb .nav > li > ul > li ~ li {margin-top:10px}
#gnb .nav > li.selected > a,
#gnb .nav > li > ul > li.selected > a {color:#0096ff; font-weight:bold}
.header-content {position:relative; z-index:10; height:70px; padding:17px 30px 16px 20px; border-bottom:1px solid #d9d9d9}
.header-content:after {content:''; display:block; clear:both}
.header-content fieldset {float:left}
.header-content fieldset .wrap {float:left; position:relative}
.header-content fieldset .wrap input[type="text"],
.header-content fieldset .wrap input[type="search"] {display:block; width:270px; height:36px; line-height:33px; padding:0 60px 0 12px; border:1px solid #adb6c7; border-radius:18px; background:url(/images/layout/btn-search.png) 100% 0 no-repeat; color:#27282d}
.windows7 .header-content fieldset .wrap input[type="text"],
.windows7 .header-content fieldset .wrap input[type="search"] {line-height:32px; padding-bottom:2px}
.header-content fieldset .wrap input[type="text"]:focus,
.header-content fieldset .wrap input[type="search"]:focus {border-color:#0096ff; background-position:100% -34px}
.header-content fieldset .wrap input.blur {color:#8c8c8c}
.header-content fieldset .wrap .search {position:absolute; right:0; top:0; height:36px; width:36px; padding:0; border:0; background:#ccc; opacity:0; cursor:pointer}
.header-content fieldset .wrap .clear {display:none; position:absolute; right:41px; top:12px; width:13px; height:13px; padding:0; border:0; background:url(/images/layout/btn-clear-field.png)}
.header-content fieldset .wrap .clear:hover,
.header-content fieldset .wrap .clear:focus {background-position:0 -13px}
.header-content .autocomplete {display:none; position:absolute; z-index:1; left:0; top:100%; width:100%; /*max-height:582px;*/ /*overflow-x:hidden; overflow-y:auto;*/ border:1px solid #adb6c7; background:#fff; padding:16px 0; border-radius:18px}
.header-content .autocomplete .data {/*overflow:hidden;*/ /*padding-top:16px*/ overflow-x:hidden; overflow-y:auto;}
.header-content .autocomplete .data h3 {padding:0 12px; font-size:12px; line-height:30px; background:#f5f7fa}
.header-content .autocomplete .data ul {padding:8px 12px 3px}
/*.header-content .autocomplete .data ul li ~ li {margin-top:8px}*/
.header-content .autocomplete .data ul li {height:44px}
.header-content .autocomplete .data ul li a:hover,
.header-content .autocomplete .data ul li a:focus {text-decoration:none}
.header-content .autocomplete .data ul li a:hover *,
.header-content .autocomplete .data ul li a:focus *{text-decoration:underline}
.header-content .autocomplete .data ul li a *{display:block; line-height:1.1em; padding:2px 0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#8c8c8c}
.header-content .autocomplete .data ul li strong {color:#0096ff}
.header-content .autocomplete .data ul li span {margin-top:2px}
.header-content .autocomplete .data ul:last-child {padding-bottom:0}
.header-content .autocomplete .data ul:last-child li:last-child {height:37px}
.header-content .my-info {float:right; padding-top:3px}
.header-content .my-info .my {float:left; font-size:0}
.header-content .my-info .my > *{display:inline-block; vertical-align:middle}
.header-content .my-info .my {position:relative; padding-right:16px; margin-right:14px}
.header-content .my-info .my:after {content:''; position:absolute; right:0; top:9px; height:11px; border-right:1px solid #d9d9d9}
.header-content .my-info .my .pic {position:relative; width:30px; height:30px; border-radius:100%; background:url(/images/layout/bg-myinfo-not.png) 50% 50% no-repeat; background-size:cover}
.header-content .my-info .my .pic:after{content:''; position:absolute; left:0; top:0; right:0; bottom:0; width:30px; height:30px; background:url(/images/layout/noimg_border.png)}
.header-content .my-info .my .pic.kakao,
.header-content .my-info .my .pic.twitter,
.header-content .my-info .my .pic.facebook {width:20px; height:20px}
.header-content .my-info .my .pic.kakao:after,
.header-content .my-info .my .pic.twitter:after,
.header-content .my-info .my .pic.facebook:after {display:none}
.header-content .my-info .my .pic.kakao {background-image:url(/images/common/ico-account-kk.png)}
.header-content .my-info .my .pic.facebook {background-image:url(/images/common/ico-account-fb.png)}
.header-content .my-info .my .pic.twitter {background-image:url(/images/common/ico-account-tt.png)}
.header-content .my-info .my > .login {margin-left:8px; line-height:1em; color:#8c8c8c; font-size:12px}
.header-content .my-info .my > .login em{max-width:108px; overflow:hidden;display:inline-block;text-overflow:ellipsis; white-space:nowrap}
.header-content .my-info .my > .login:hover,
.header-content .my-info .my > .login:focus {color:#27282d}
.header-content .my-info .my > .toggle {padding-right:15px; background:url(/images/common/ico-select-tri.png) 100% 50% no-repeat}
.header-content .my-info .my > .toggle:hover,
.header-content .my-info .my > .toggle:focus {color:#27282d; background-image:url(/images/common/ico-select-tri-blk.png)}
.header-content .my-info .my .info {display:none; position:absolute; right:-57px; top:100%; width:280px; margin-top:19px; background:#fff; border:1px solid #adb6c7; -webkit-box-shadow:3px 3px 6px 0px rgba(0,0,0,0.1); -moz-box-shadow:3px 3px 6px 0px rgba(0,0,0,0.1); box-shadow:3px 3px 6px 0px rgba(0,0,0,0.1); font-size:12px}
.header-content .my-info .my .info:before,
.header-content .my-info .my .info:after {content:''; position:absolute; top:-14px; right:68px; width:0; height:0; border-style:solid; border-width:0 7.5px 13px 7.5px; border-color:transparent transparent #adb6c7}
.header-content .my-info .my .info:after {top:-13px; border-color:transparent transparent #fff}
.header-content .my-info .my .info > ul > li {padding:0 18px 0 12px; line-height:36px; background:#f5f7fa}
.header-content .my-info .my .info > ul > li:after {content:''; display:block; clear:both}
.header-content .my-info .my .info > ul > li .title,
.header-content .my-info .my .info > ul > li .value {line-height:36px}
.header-content .my-info .my .info > ul > li .title {float:left; position:relative; padding-right:11px; font-weight:bold}
.header-content .my-info .my .info > ul > li .title:after {content:''; position:absolute; right:0; top:50%; margin-top:-4.5px; width:5px; height:9px; background:url(/images/common/ico-lt-gt.png) 100% -2px no-repeat}
.windows7 .header-content .my-info .my .info > ul > li .title:after {margin-top:-3.5px}
.header-content .my-info .my .info > ul > li .value {float:right; color:#8c8c8c}
.header-content .my-info .my .info > ul > li.cash {background:#fff; line-height:42px}
.header-content .my-info .my .info > ul > li.cash .title,
.header-content .my-info .my .info > ul > li.cash .value {line-height:42px}
.header-content .my-info .my .info > ul > li.cash .title:after {display:none}
.header-content .my-info .my .info > ul > li.cash .value {color:#0096ff}
.header-content .my-info .my .info > ul > li.cash .btn-func {vertical-align:top; margin-top:7px}
.header-content .my-info .my .info > ul ul {clear:both; margin:0 -18px 0 -12px; padding:13px 18px 15px 12px; background:#fff}
.header-content .my-info .my .info > ul ul li,
.header-content .my-info .my .info > ul ul li p {line-height:normal; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.header-content .my-info .my .info > ul ul li ~ li {margin-top:8px}
.header-content .my-info .my .info > ul ul li p ~ p {color:#8c8c8c; margin-top:3px}
.header-content .my-info .my .info .sign {border-top:1px solid #e6e6e6}
.header-content .my-info .my .info .sign:after {content:''; display:block; clear:both}
.header-content .my-info .my .info .sign a {float:left; width:50%; box-sizing:border-box; line-height:36px; text-align:center}
.header-content .my-info .my .info .sign a ~ a {border-left:1px solid #e6e6e6}
.header-content .my-info .download {float:left; position:relative; width:32px; height:30px; background:url(/images/layout/ico-cart.png) 0 3px no-repeat}
.header-content .my-info .download:hover,
.header-content .my-info .download:focus {background-position:0 -27px; text-decoration:none}
.header-content .my-info .download .num {position:absolute; left:23px; top:-4px; padding:0 4px; background:#ff5f66; min-width:16px; border-top-left-radius:8px; border-top-right-radius:8px; border-bottom-left-radius:8px; border-bottom-right-radius:8px; font-family:Tahoma,serif; font-size:11px; font-weight:bold; color:#fff; line-height:16px; text-align:center; box-sizing:border-box}

#container,
#content {position:relative; height:calc(100% - 70px)}
#container {overflow-x:hidden; overflow-y:scroll}
#content {padding:0 20px}
#container #content {height:auto; /*overflow:auto*/}
[class*=section-] {padding-top:20px; padding-bottom:20px}
[class*=section-] [class*=section-] {padding-top:0; padding-bottom:0}
[class*=section-] h2 {padding-bottom:18px; border-bottom:1px solid #d9d9d9; font-size:20px;line-height:1em}
[class*=section-] h2 strong {color:#0096ff; line-height:1em}


/*맥용 플레이어*/
.mac #gnb .quick{display:none}
.mac #gnb .nav{margin-top:0;}
.bottom .banner img{width:178px; height:116px}
.mac .header-content .my-info .my .info > ul > li .title:after {background:url(/images/common/ico-lt-gt.png) 100% 0 no-repeat; background-size: 11px 9px; top:46%;}

.mac .header-content fieldset .wrap input{-webkit-appearance: none;border:none; }
.mac input::-webkit-search-cancel-button{-webkit-appearance:none}
.mac *:focus {outline:none;}
.mac .header-content fieldset .wrap .clear{top:10px}

.mac #header .side{border-left:none;}
.mac #header .side .top h1 a{background: url(/images/layout/2x/logo_5.0.png) no-repeat; background-size:100%; width:88px;height:35px}
.mac #header .side .top .history{padding:12px 0 0 0; margin-left:20px}
.mac #header .side .top .history a{width:16px;height:13px}
.mac #header .side .top .history .prev{background: url(/images/layout/2x/btn-nav-prev.png) no-repeat; background-size:100%; }
.mac #header .side .top .history .next{background: url(/images/layout/2x/btn-nav-next.png) no-repeat; background-size:100%;}

.mac #gnb .nav > li.n1 {background:url(/images/layout/2x/ico-gnb-top.png) 0 0 no-repeat; background-size:19px 18px}
.mac #gnb .nav > li.n2 {background:url(/images/layout/2x/ico-gnb-new.png) 0 0 no-repeat; background-size:19px 18px}
.mac #gnb .nav > li.n3 {background:url(/images/layout/2x/ico-gnb-genre.png) 0 0 no-repeat; background-size:19px 18px}
.mac #gnb .nav > li.n4 {background:url(/images/layout/2x/ico-gnb-recomm.png) 0 0 no-repeat; background-size:19px 18px}
.mac #gnb .nav > li.n5 {background:url(/images/layout/2x/ico-gnb-my.png) 0 0 no-repeat; background-size:20px 21px}
.mac #gnb .nav > li:after{background:url(/images/layout/2x/ico-gnb-toggle.png); background-size:22px 12px}
.mac #gnb .nav > li:hover:after {background-position:-11px 0}
.mac #gnb .nav > li.open:after {background-position:0 -6px}
.mac #gnb .nav > li.open:hover:after {background-position:-11px -6px}

.mac .header-content fieldset .wrap .clear{background: url(/images/layout/2x/btn-clear-field.png); background-size: 13px 26px}
.mac .header-content fieldset .wrap input[type="text"],
.mac .header-content fieldset .wrap input[type="search"] {background:url(/images/layout/2x/btn-search.png) 95% 8px no-repeat; background-size: 18px 50px;     border: 1px solid #adb6c7;}
.mac .header-content fieldset .wrap input[type="text"]:focus,
.mac .header-content fieldset .wrap input[type="search"]:focus {background-position:95% -24px; border: 1px solid #0096ff;}
.mac .header-content .my-info .download {background:url(/images/layout/2x/ico-cart.png) 0 3px no-repeat; background-size:32px 60px; display:none}
.mac .header-content .my-info .my{padding-right:0; margin-right:0;}
.mac .header-content .my-info .my:after{display:none}
.mac .header-content .my-info .download:hover, .mac .header-content .my-info .download:focus{background-position:0 -27px;}
.mac .header-content .my-info .my .pic{background:url(/images/layout/2x/bg-myinfo-not.png) 50% 50% no-repeat; background-size:30px}
.mac .header-content .my-info .my > .toggle {background:url(/images/common/2x/ico-select-tri.png) 100% 50% no-repeat; background-size:7px 4px}
.mac .header-content .my-info .my > .toggle:hover,
.mac header-content .my-info .my > .toggle:focus {background-image:url(/images/common/2x/ico-select-tri-blk.png); background-size:7px 4px}

.mac #header .side .bottom .notice{display:none}
.mac #header .side .bottom .notice a:after{top:5px}
.mac .header-content .my-info .my .info > ul > li.cash{display:none}
.mac .header-content .my-info .my .info:after {border-color:transparent transparent #f5f7fa}
.mac .header-content .my-info .my .pic:after {content:''; position:absolute; left:0; top:0; right:0; bottom:0; border:1px solid #000; opacity:.1; border-radius:100%; background:none; width:auto; height:auto;}
.mac .header-content .my-info .my > .login em{font-style: normal; display:inline-block; max-width:62px; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis; }
.mac .header-content .my-info .my .info{right:-7px}
.mac .header-content .my-info .my .info .sign a:first-child{display:none}
.mac .header-content .my-info .my .info .sign a:last-child{width:100%}
.mac .slick-initialized .slick-slide a{cursor:default;}
.mac .list-function .btn-func.down{display:none;}
.mac .slick-slider{padding-top:47px;}
.mac .slick-dots{top:30px}

/* Slider */
.slick-slider{padding-top:10px; position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent;}
.slick-list{position: relative; display: block; overflow: hidden; margin: 0; padding: 0;}
.slick-arrow{display:none !important}
.slick-list.dragging{cursor: pointer; cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track{position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto;}
.slick-track:before,
.slick-track:after{display: table; content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none; float: left; height: 100%; min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block; height: auto; border: 1px solid transparent;}

.slick-dots{position: absolute; top:-5px; display: block; width: 100%; padding: 0; margin: 0; list-style: none; text-align: center;}
.slick-dots li{position: relative; display: inline-block; width: 15px; height:15px; padding: 0; cursor: pointer;}
.slick-dots li button{font-size:15px; line-height:20px; display: block; width: 15px; height: 15px;  cursor: pointer; color: transparent; border: 0; outline: none; background: transparent;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{opacity: 1;}
.slick-dots li button:before{line-height:15px; position: absolute; top:3px; left:5px; background: #404040; width:4px; height:4px; content: ''; text-align: center; opacity: .25; border-radius:100%;}
.slick-dots li.slick-active button:before{opacity: 1; border-radius:100%;}