@charset "UTF-8";

/* default */
body,html {height:99.99%; overflow:hidden; background:#fff}
body {font-family:'맑은 고딕','Malgun Gothic','돋움',Dotum, 'APPLE SD Gothic NEO', sans-serif; font-size:12px; color:#27282d; letter-spacing:-0.01em; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -moz-osx-font-smoothing:grayscale; }
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, div, table, th, td, form, fieldset, legend, input, textarea, button, select, pre, code {margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; }
input, textarea, select, button, table {font-family:'맑은 고딕','Malgun Gothic','돋움',Dotum, 'APPLE SD Gothic NEO', sans-serif; font-size:12px; color:#27282d}
input, textarea, select, button {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display:block; margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; }
img, fieldset {border:0; vertical-align:middle}
iframe, button {border:0}
ul, ol {list-style:none}
caption, hr {display:none}
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0}
table {/* border-collapse:collapse; */ border-spacing:0; width:100%}
/*h1, h2, h3, h4, h5, h6, strong {font-weight:normal}*/
pre {font-family:'맑은 고딕','Malgun Gothic','돋움',Dotum,'APPLE SD Gothic NEO', sans-serif; color:#27282d}
a {text-decoration:none; font-family:'맑은 고딕','Malgun Gothic','돋움',Dotum, 'APPLE SD Gothic NEO', sans-serif; color:#27282d}
a:hover, a:focus {text-decoration:underline}
div:focus {outline:0}
em{font-style: normal}

/* form element */
/* radio, checkbox */
input[type="checkbox"],
input[type="radio"] {position:absolute; left:-9999px}
input[type="checkbox"] + label,
input[type="radio"] + label {display:inline-block; position:relative; padding-left:22px; height:14px; line-height:14px; vertical-align:middle; font-size:12px; text-align:left}
.windows7 input[type="checkbox"] + label,
.windows7 input[type="radio"] + label {line-height:12px}
input[type="checkbox"] + label:after {content:""; position:absolute; left:0; top:0; width:12px; height:12px; border:1px solid #d9d9d9; background:#fff url(https://hahahamk.cafe24.com/pcplayer/images/common/ico-checkbox_5.0.png) 100px 2px no-repeat}
input[type="checkbox"]:checked + label:after {border-color:#0096ff; background-position:1px 2px}
input[type="checkbox"]:focus + label:after {border-color:#0096ff}
input[type="radio"] + label:before {content:""; position:absolute; left:0; top:0; width:12px; height:12px; border:1px solid #d9d9d9; border-radius:100%; background:#fff}
input[type="radio"] + label:after {content:""; position:absolute; left:4px; top:4px; width:6px; height:6px; border-radius:100%; background:#d9d9d9}
input[type="radio"]:checked + label:before {border-color:#0096ff}
input[type="radio"]:checked + label:after {background:#0096ff}
input[type="checkbox"] + label ~ label,
input[type="radio"] + label ~ label {margin-left:48px}
input[type="checkbox"] + label.alone,
input[type="radio"] + label.alone {padding-left:14px; font-size:0; text-indent:-999em}
/* select, input text */
select,
input[type="text"],
input[type="password"],
input[type="search"] {display:inline-block; height:30px; line-height:28px; padding:0 9px; background:#fff; border:1px solid #d9d9d9; vertical-align:middle; font-size:12px; box-sizing:border-box}
.windows7 input[type="text"],
.windows7 input[type="password"],
.windows7 input[type="search"] {padding-bottom:2px; line-height:26px}
select {min-width:120px}
textarea {display:block; width:100%; padding:8px 12px; border:1px solid #d9d9d9; background:#fff; line-height:1.666em; resize:none; box-sizing:border-box}
input[type="text"]:focus,
textarea:focus {border-color:#adb6c7}
/*button,
input[type="button"] {display:inline-block; min-width:60px; height:30px; line-height:28px; padding:0 14px; background:#fff; border:1px solid #adb6c7; vertical-align:middle; font-size:12px; box-sizing:border-box; color:#63717d}*/
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus {border-color:#63717d}
input:not([type=checkbox]):not([type=radio])::-ms-clear {display:none}
::placeholder {color:#8c8c8c}
::-webkit-input-placeholder {color:#8c8c8c}
:-moz-placeholder {color:#8c8c8c}
::-moz-placeholder {color:#8c8c8c}
input:-ms-input-placeholder {color:#8c8c8c}
textarea:-ms-input-placeholder {color:#8c8c8c}


/*맥용 플레이어*/
.mac input[type="checkbox"] + label:after {background:#fff url(https://hahahamk.cafe24.com/pcplayer/images/common/2x/ico-checkbox_5.0.png) 100px 2px no-repeat; background-size: 10px 8px; top:-1px}
.mac input[type="checkbox"]:checked + label:after {background-position:1px 2px}
