@charset 'utf-8';

* {margin:0;padding:0;font-size:100%;font:inherit;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:middle}
/* 기존 웹뷰와 합치는 과정에서 body background-color 가 중복되어 추가된 페이지에 background-color 하드코딩으로 추가. 추후 웹뷰 개선 후 다시 적용 */
html{height:100%}
body {position:relative;min-width:320px;min-height:100%;/*max-width:1080px;*/margin:0 auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;line-height:1;color:#27282d/*;background-color:#f7f9fc*/}
body.fixed {position:fixed;left:0;width:100%;overflow:hidden}
ol, ul {list-style:none}
table {border-collapse:collapse;border-spacing:0}
table, th, td {vertical-align:middle}
a {-webkit-tap-highlight-color:transparent;text-decoration:none;color:#27282d}
input, button {border:0;background-color:transparent}
button::-moz-focus-inner {padding:0;border:0}
*:focus {outline:none}
strong, span, em {vertical-align:baseline}
img {vertical-align:top}

small {font-size:0.625rem}
fieldset {display:block;border:0}
legend {overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px}
:before, :after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/***** common *****/
/* component */
.ipt {display:inline-block;width:100%;height:2.444rem;font-size:0.833rem; border:none; border-radius:0.556rem;padding:0 0.889rem;-webkit-appearance:none;background-color:#fafafa;}
.textarea {display:inline-block;width:100%;height:4em;font-size:0.875rem;line-height:1.42857142857em;border:0.07142857em solid #d7dbde;border-radius:0.142857142857em;padding:0.3333333333em 0.523809523809em;-webkit-appearance:none}
.textarea.textarea-large {height:12.857142857em}
.selectbox {display:inline-block;width:100%;height:2.142857142857em;font-size:0.875rem;line-height:2.142857142857em;border:0.07142857em solid #d7dbde;border-radius:0.142857142857em;padding:0 0.523809523809em;background:url('//image.genie.co.kr/imageg/mobile/common/blt_selectbox.png') no-repeat 95% 50%;background-size:auto 0.357142857142857em;-webkit-appearance:none}
.radio {display:inline-block;position:absolute;left:-9999px;opacity:0}
.radio + label {display:inline-block;position:relative;font-size:0.833rem;line-height:1.2rem;padding-left:2.07142857142857em}
.radio + label:before {content:'';display:block;position:absolute;top:0;left:0;width:1.111rem;height:1.111rem;font-size:1rem;background:url('//image.genie.co.kr/imageg/mobile/common/blt_radio_5.0.png') no-repeat 0 0;background-size:300% 100%}
.radio:checked + label:before {background-position:100% 0}
.checkbox {display:inline-block;position:absolute;left:-9999px;opacity:0}
.checkbox + label {display:inline-block;position:relative;font-size:0.833rem;line-height:1.2rem;padding-left:1.6rem}
.checkbox + label:before {content:'';display:block;position:absolute;top:0;left:0;width:1.111rem;height:1.111rem;font-size:1rem;background:url('//image.genie.co.kr/imageg/mobile/common/blt_chk_5.0.png') no-repeat 0 0;background-size:300% 100%}
.checkbox:checked + label:before {background-position:100% 0}
.checkbox.checkbox-text-small + label {font-size:0.75rem;line-height:1.25rem;padding-left:2.1111111111em}
.btn {display:inline-block;width:100%;height:2.444rem;font-size:0.75rem;line-height:2.444rem;background-color:#eeeeef;color:#bcbcbc;text-align:center;border-radius:0.556rem;-webkit-appearance:none; font-weight:700}
.btn.btn-medium {font-size:0.875rem;}
.btn.btn-large {height:3.125em;font-size:1rem;line-height:3.1875em;}
.btn.btn-blue {background-color:#0096FF; color:#ffffff}
.btn.btn-black {background-color:#27282d; color:#ffffff}
.btn.btn-white {border:0.0833333333em solid #000;background-color:#fff;color:#000}
.btn.btn-txt{color:#27282d; background:none}

.btn-radius-arrow {display:inline-block;overflow:hidden;position:relative;height:2.4615384615384em;padding:0 2.179487179487179em 0 1.102564102564em;border:0.076923076923em solid #0eb6e6;border-radius:1.230769230769em;font-size:0.8125rem;line-height:2.3846153846em;color:#0eb6e6}
.btn-radius-arrow:before {content:'';display:block;position:absolute;top:50%;right:1em;width:1em;height:1em;margin-top:-0.5em;background:url('//image.genie.co.kr/imageg/mobile/common/blt_arrow_blue.png') no-repeat 100% 25%;background-size:51.28205128205% auto}
.btn-toggle {display:inline-block;width:1.0416666666em;height:0.7291666666em;font-size:1rem;background:url('//image.genie.co.kr/imageg/mobile/common/btn_toggle.png') no-repeat 0 50%;background-size:3em auto;line-height:0;text-indent:-9999px}
.btn-toggle.active {background-position:100% 50%}

/* font */
@font-face {font-family: 'NotoSans'; font-style: normal; font-weight: 400; src: url(/commons/font/notokr-regular.eot); src: url(/commons/font/notokr-regular.eot?#iefix) format('embedded-opentype'), url(/commons/font/notokr-regular.woff2) format('woff2'), url(/commons/font/notokr-regular.woff) format('woff'), url(/commons/font/notokr-regular.ttf) format('truetype');}
  
@font-face {font-family: 'NotoSans'; font-style: normal; font-weight: 700; src: url(/commons/font/notokr-bold.eot); src: url(/commons/font/notokr-bold.eot?#iefix) format('embedded-opentype'), url(/commons/font/notokr-bold.woff2) format('woff2'), url(/commons/font/notokr-bold.woff) format('woff'), url(/commons/font/notokr-bold.ttf) format('truetype');}
	
.text-white {color:#fff !important}
.text-blue {color:#0096FF !important}
.text-red {color:#f60000 !important}
.text-gray {color:#8c8c8c !important}
.text-darkgray {color:#63717d !important}
.text-lightgray {color:#8a8a8d !important}
.text-black {color:#27282d !important}
.text-bold, strong {font-weight:bold}
.text-underline {text-decoration:underline !important}
.text-center {text-align:center}

/* bg */
.bg-white{background-color:#fff !important}
.bg-gray{background-color:#fafafa !important}

/* etc */
.show {display:block !important}
.hidden {display:none !important}
.hide {display:block;overflow:hidden;height:0;margin:0;padding:0;line-height:0;text-indent:-99999px}
.blind {display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
.ellipsis {white-space:nowrap;width:100%;overflow:hidden;text-overflow:ellipsis}
.dim {content:'';display:block;position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,0.5);z-index:1}

/* list */
.list {font-size:0.875rem;line-height:1.42857142857em;padding-left:1.142857142857em;border-top:0.07142857142857em solid #eef1f4;border-bottom:0.07142857142857em solid #eef1f4}
.list.full {padding-left:0}
.list dt {clear:both;width:7.61904761904em;float:left;padding:0.88095238em 0 0.7857142857em;color:#63717d;border-top:0.07142857142857em solid #eef1f4}
.list dd {margin-left:7.6em;padding:0.88095238em 1.142857142857em 0.7857142857em 0;border-top:0.07142857142857em solid #eef1f4}
.list dl:first-of-type dt:first-of-type, .list dl:first-of-type dd:first-of-type {border:0}
.list li {position:relative}
.list sup{line-height:0.75rem;vertical-align:super;}
.list.col-2 {padding:0 1.142857em;;overflow:hidden}
.list.col-2 li {width:50%;float:left;padding:0.6547619em 0;}
.list.full li {padding:0 0.857142857em;border-bottom:0.07142857142857em solid #eef1f4}
.list.full li:last-child {border:0}
.list.blt {padding:0.3333333333em 1.2em 0;border:0;font-size:0.75rem;line-height:1.3333333333em}
.list.blt li {padding:0.3055555555em 0 0.3055555555em 0.8333333333em;word-break:keep-all}
.list.blt li sup{line-height:0}
.list.blt li:before {content:'';display:block;position:absolute;top:0.5rem;left:0.2rem;width:0.125rem;height:0.125rem;background:#d8d8d8;border-radius:2px}
.list.blt.blt-blue li:before {background:url('//image.genie.co.kr/imageg/mobile/common/icon_dot_blue.png') no-repeat 0 0;background-size:100% 100%}
.list.dash {padding:1em 1.2em;border-top-width:0.0833333333em;border-bottom-width:0.0833333333em;font-size:0.75rem;line-height:1.5em}
.list.dash li {padding:0.1666666666em 0 0.1666666666em 0.7333333333em;word-break:keep-all}
.list.dash li:before {content:'';display:block;position:absolute;top:0.6458333333em;left:0;width:0.25em;height:0.0625em;font-size:1rem;background:url('//image.genie.co.kr/imageg/mobile/common/icon_dash.png') no-repeat 0 0;background-size:100% 100%}
.list.blt li a, .list.dash li a {vertical-align:baseline}
.list.billi {padding:0.3333333333em 1.2em 0;border:0;font-size:0.75rem;line-height:1.3333333333em}
.list.billi li {padding:0.3055555555em 0 0.3055555555em 0.8333333333em;word-break:keep-all}
.list.billi li:before {content:'※';display:block;position:absolute;top:0.5625em;left:0.1458333333em;width:0.125em;height:0.125em;font-size:1rem;background:url('//image.genie.co.kr/imageg/mobile/common/icon_dot.png') no-repeat 0 0;background-size:100% 100%}
.list .font-line{text-decoration: underline;}
.col-2:after {content:'';display:block;clear:both}
.box {font-size:0.875rem;line-height:1.42857142857em;padding:0.8333333333em 0 0.8333333333em 1.142857em;border-top:0.07142857142857em solid #eef1f4;border-bottom:0.07142857142857em solid #eef1f4;background-color:#fff}

/* music list */
.list-control {overflow:hidden;height:2.5em;border-bottom:0.0625em solid #a6afb6;background-color:#fff}
.list-control a {display:inline-block !important;overflow:hidden;position:relative;height:2.7857142857em;margin-left:1.357142857em;padding:0 0.547619047619em 0 1.357142857em;font-size:0.875rem;line-height:2.97619047619em}
.list-control a:before {content:'';display:block;position:absolute;top:0;left:0;width:1em;height:100%;font-size:1rem;background:url('//image.genie.co.kr/imageg/mobile/common/blt_listen.png') no-repeat 0 50%;background-size:300% auto}
.list-control .btn-listen-add {margin-left:0}
.list-control .btn-listen-add:before {background-position:100% 50%}
.list-music {border-top:0.0625em solid #eef1f4;background-color:#fff}
.list-music li {position:relative;height:3.75em;padding:0 3.5em 0 0;border-bottom:0.0625em solid #eef1f4;line-height:1.49}
.list-music li.active {background-color:#dfe9f0;border-color:#d1dfe7}
.list-music a {display:block;position:relative;width:100%;height:100%}
.list-music .thumbnail {overflow:hidden;position:absolute;top:50%;left:0.5em;width:3em;height:3em;margin-top:-1.5em}
.list-music .thumbnail:before {content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:0.0625rem solid rgba(0,0,0,0.1)}
.list-music .thumbnail img {display:block;width:100%}
.list-music.normal .num {position:absolute;top:0;left:0;width:2.875em;line-height:3.75em;text-align:center}
.list-music .info {padding:0.6458333333em 0 0 4.2083333333em}
.list-music.normal .info {padding-left:2.875em}
.list-music .track {display:block;font-size:0.875rem}
.list-music .artist {display:block;padding-top:0.08333333333em;font-size:0.75rem}
.list-music .controls {position:absolute;top:0;right:0.25em;width:3em;height:100%}
.list-music .controls button {display:block;position:relative;width:100%;height:100%}
.list-music .controls button:before {content:'';display:block;position:absolute;top:50%;left:50%;width:1.5em;height:1.5em;margin:-0.75em 0 0 -0.75em;background:url('//image.genie.co.kr/imageg/mobile/common/btn_play.png') no-repeat 0 0;background-size:300% 100%}
.list-music .controls .btn-pause:before {background-position:100% 0}
.list-album {border-top:0.0625em solid #eef1f4}
.list-album li {position:relative;height:4.75em;border-bottom:0.0625em solid #eef1f4;line-height:1.27}
.list-album a {display:block;width:100%;height:100%;padding:0 2.875em 0 4.2083333333em;background:url('//image.genie.co.kr/imageg/mobile/common/blt_arrow.png') no-repeat 96.296% 50%;background-size:0.4583333333em auto}
.list-album .thumbnail {overflow:hidden;position:absolute;top:50%;left:0.5em;width:3em;height:3em;margin-top:-1.5em}
.list-album .thumbnail:before {content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:0.0625rem solid rgba(0,0,0,0.1)}
.list-album .thumbnail img {display:block;width:100%}
.list-album .info {padding-top:0.8541666666em}
.list-album .album-title {display:block;padding-bottom:0.142857142857em;font-size:0.875rem}
.list-album .artist, .list-album .date {display:block;font-size:0.75rem}

/* reply */
.reply .profile {overflow:hidden;position:absolute;width:2.125em;height:2.125em;margin-right:1.829268%;border-radius:50%}
.reply .profile:before {content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:0.0625em solid rgba(0,0,0,0.1);border-radius:50%}
.reply .profile img {display:block;width:100%;border-radius:50%}
.reply .comment {position:relative;text-align:left}
.reply .btn-submit {display:block;position:absolute;top:0;bottom:0;right:0;width:3.1875em;line-height:0;text-indent:-9999px;z-index:10}
.reply .btn-submit:before {content:'';display:block;position:absolute;top:50%;left:1.0416666666em;width:1.125em;height:1.125em;margin-top:-0.5625em;background:url('//image.genie.co.kr/imageg/mobile/common/blt_reply.png') no-repeat 0 0;background-size:5em auto}
.reply .btn-more {display:block;width:100%}
.reply .btn-more span {display:inline-block;position:relative;height:3.3055555555em;padding:0 3.36111111111em 0 2em;font-size:0.75rem;line-height:3.30555555555em}
.reply .btn-more span:before {content:'';display:block;position:absolute;top:50%;right:1.5em;width:0.6875em;height:0.375em;margin-top:-0.2291666666em;font-size:1rem;background:url('//image.genie.co.kr/imageg/mobile/common/blt_reply.png') no-repeat 0 -3.83333333333em;background-size:5em auto}
.reply .input-comment {padding:1.0625em 1em 1em;background-color:#f7f9fc;border-bottom:0.0625em solid #eef1f4}
.reply .input-comment .user {position:relative;height:2.125em;margin-bottom:0.6875em;padding-left:2.5em}
.reply .input-comment .profile {top:0;left:0}
.reply .user a {display:block;overflow:hidden;float:left;position:relative;width:48.26%;height:3.09090909090909em;margin-left:1.52439%;padding:0 4.5731707317% 0 10.365853658536%;border-radius:1.54545454545454em;font-size:0.6875rem;line-height:3.181818181818em;text-align:center}
.reply .user .info {display:block}
.reply .user a:before {content:'';display:block;position:absolute;top:0.6444444444em;left:7.43405275779%;width:0.9375em;height:0.9375em;font-size:1rem;background:url('//image.genie.co.kr/imageg/mobile/common/blt_reply.png') no-repeat 0 -1.4375em;background-size:5em auto}
.reply .user a.disconnect {opacity:0.5}
.reply .user .btn-fb {background-color:#365097}
.reply .user .btn-twitter {background-color:#3999e1}
.reply .user .btn-twitter:before {background-position:-1.1875em -1.4375em}
.reply .textarea {overflow:hidden;height:2.857142857142857em;min-height:2.857142857142857em;padding:0.6666666666em 3.642857142857em 0.6666666666em 0.8095238095238em;resize:none}
.reply .btns {padding-bottom:0.3958333333em}
.reply .btns button {display:inline-block;position:relative;line-height:2}
.reply .btns button:before {content:'';display:block;position:absolute;top:50%;left:0;width:1em;height:0.9375em;font-size:1rem;margin-top:-0.46875em;background:url('//image.genie.co.kr/imageg/mobile/common/blt_reply.png') no-repeat 0 -2.6875em;background-size:5em auto}
.reply .btns .btn-like {padding:0 1em 0 1.375em}
.reply .btns .btn-like.active:before {background-position:-1.1875em -2.6875em}
.reply .btns .btn-reply {margin-left:1.4583333333em;padding:0 1em 0 1.375em}
.reply .btns .btn-reply:before {background-position:-2.375em -2.6875em}
.reply .btns .btn-report {display:block;position:absolute;top:0;right:0;width:3em;height:3em}
.reply .btns .btn-report:before {left:1em;margin-top:-0.58333333333em;background-position:-3.625em -2.6875em}
.reply .btns .btn-del {display:block;position:absolute;top:0;right:0;width:3em;height:3em}
.reply .btns .btn-del:before {left:1em;width:1em;height:1em;margin-top:-0.5em;background-position:-2.625em 0}
.reply .list-comment li {display:block;position:relative;padding:0.875em 1em 0 3.75em;border-bottom:0.0625em solid #e5e9ec}
.reply .list-comment .profile {top:1em;left:1em}
.reply .list-comment .info {line-height:1.27}
.reply .list-comment .user {display:inline-block;vertical-align:top}
.reply .list-comment .icon {display:inline-block;width:1em;height:1em;margin:0.125em 0 0 0.0416666666em;font-size:1rem;line-height:0;background:url('//image.genie.co.kr/imageg/mobile/common/blt_reply.png') no-repeat -2.375em -1.4375em;background-size:5em auto;text-indent:-9999px;vertical-align:top}
.reply .list-comment .icon.blt-fb {background-position:-3.625em -1.4375em}
.reply .list-comment .date {display:block;padding-top:0.05555555555em;font-size:0.75rem}
.reply .list-comment .txt {display:block;padding:0.6666666666em 0 0.311111111111em;font-size:0.9375rem;line-height:1.466666666666em}
.reply .list-comment .no-data {display:block;padding:10.86666666666em 0 2em;font-size:0.9375rem;line-height:1.4666666666em;text-align:center}
.reply .list-reply {display:none;margin:0 -1em 0 -3.75em;padding:0 1em 0 3.5em;border-top:0.0625em solid #e5e9ec;background-color:#f7f9fc}
.reply .list-reply.active {display:block}
.reply .list-reply li {padding:0.6875em 0 0 0.3125em}
.reply .list-reply li:before, .reply .input-reply .comment:before {content:'';display:block;position:absolute;top:1.22916666666em;left:-1.9166666666em;width:1em;height:1.1875em;background:url('//image.genie.co.kr/imageg/mobile/common/blt_reply.png') no-repeat -1.375em 0;background-size:5em auto}
.reply .input-reply .comment:before {top:0.7291666666em}
.reply .list-reply .profile {top:0.875em;left:0.125em;width:1.875em;height:1.875em}
.reply .list-reply .info {padding-left:2.25em}
.reply .list-reply .user {display:inline-block;font-size:0.9375rem}
.reply .list-reply .icon {margin-top:0.08333333333em}
.reply .list-reply .date {padding-top:0}
.reply .list-reply .txt {padding:0.6923076923em 0 0.4102564102564em;font-size:0.8125rem;line-height:1.3846153846em}
.reply .list-reply .btns {padding-bottom:0.5625em}
.reply .list-reply .btn-like {padding-left:1.743589743589em;font-size:0.8125rem;line-height:2.230769230769em}
.reply .list-reply .btn-report, .reply .list-reply .btn-del {right:-1em}
.reply .input-reply .comment {position:relative;margin-top:1em}
.reply .input-reply .btn-fold {display:block;width:100%}
.reply .input-reply .btn-fold span {display:inline-block;position:relative;height:3.3055555555em;padding:0 3.36111111111em 0 2em;font-size:0.75rem;line-height:3.30555555555em}
.reply .input-reply .btn-fold span:before {content:'';display:block;position:absolute;top:50%;right:1.5em;width:0.66667em;height:0.375em;margin-top:-0.2291666666em;font-size:1rem;background:url('//image.genie.co.kr/imageg/mobile/common/blt_reply.png') no-repeat -1.1875em -3.83333333333em;background-size:5em auto}

/* share */
.share {padding:0 0 1em}
.share .title {padding:1.41666666666em 1em 1.3541666666em;line-height:1.1;background-color:#22333d}
.share .title .txt {display:block;padding:0;font-size:0.9375rem;line-height:1.1}
.share .title .category {display:inline-block;font-size:0.75rem}
.share .title .date {display:inline-block;position:relative;padding-left:1.0555555555em;font-size:0.75rem}
.share .title .date:before {content:'|';display:block;position:absolute;top:0;left:0.388888888888em}
.share .input-txt {padding:0.8125em 0.9375em 0.7708333333em}
.share .list-sns {max-width:1080px;margin:0 auto;padding:0 8.3333333333%;text-align:center}
.share .list-sns li {display:block;float:left;width:20%;padding:0 1.3333333333%}
.share .list-sns a {display:block;position:relative;width:100%;padding:106.102564% 0 0.4333333333em;font-size:0.625rem;line-height:1.3}
.share .list-sns a:before {content:'';display:block;position:absolute;top:0;left:0;width:100%;padding-top:100%;background:url('//image.genie.co.kr/imageg/mobile/common/btn_sns.png') no-repeat 0 0;background-size:100% 600%}
.share .list-sns .btn-kakao:before {background-position:0 20%}
.share .list-sns .btn-twitter:before {background-position:0 40%}
.share .list-sns .btn-sms:before {background-position:0 60%}
.share .list-sns .btn-copy:before {background-position:0 80%}
.share .copy-url {position:absolute;top:0;left:-9999px}
.share .copy-url.active {position:relative;top:auto;left:auto;padding:0 0.9375em}
.share .copy-url.active .ipt {height:3.0238095238095em;margin-top:0.933333333333em}
.share .copy-url .desc {display:block;padding:0.88888888888em 0 0 0.27777777777em;font-size:0.75rem;line-height:1.5555555555em}

/* footer */
.footer {text-align:center}
.footer .btn-top {display:inline-block;overflow:hidden;height:2.80555em;padding-left:1.4722222222em;font-size:0.75rem;line-height:2.88888888888em;background:url('//image.genie.co.kr/imageg/mobile/common/blt_top.png') no-repeat 0 50%;background-size:0.97223em auto}

/* popup */
.popup {display:none;position:fixed;top:0;left:0;width:100%;font-size:1rem;overflow:hidden;background:rgba(0,0,0,0.5);z-index:1000;  font-family: 'NotoSans'; overflow:visible;padding:0 1.25rem}
.popup.full, .popup.full .pop-wrap, .popup.full .pop-contents {width:100%;height:100%;border-radius:0}
.popup .pop-wrap {overflow-x:hidden;overflow-y:auto; max-height:100%;border-radius:0.938rem;-webkit-overflow-scrolling:touch; background:#ffffff;box-shadow: 1px 5px 10px 5px rgba(0,0,0,0.1);}
.popup .pop-hd {font-size:1.11rem;padding:1.438rem 0 0 1.333rem; height:3.333rem; font-weight: 700; color:#000}
.popup .pop-contents {position:relative;font-size:0.833rem;line-height:1.2rem;max-height:100%;overflow:auto; padding:1rem 1.333rem 1.667rem;color:#000}
.popup .pop-contents.no-ft {padding-bottom:0.8444444444em;border-radius:0 0 0.1333333333em 0.1333333333em}
.popup .pop-contents .txt {text-align:center; }
.popup .pop-contents .txt small{line-height:1rem}
.popup .pop-contents .text-small a {vertical-align:baseline}
.popup .pop-contents .line {padding:1em 0 0; border-top:0.07142857142857em solid #e5e9ec;color:#27282d; margin-top:1rem}
.popup .pop-contents .line .list {margin-top:0.15em}
.popup h3 {font-size:0.9375rem;padding:0}
.popup h3.title {padding:0 0 0.68888888888em 0;font-size: 0.9375rem;text-align:center;}
.popup .list {margin-top:0.5555555555em;padding:0; font-size:0.722rem; }
.popup .list li {padding-top:0.1666666666em;padding-bottom:0.1666666666em;color:#8a8a8d}
.popup .list-border li {padding:0.595238095238095em 0 0.8095238095238em 1.142857142857em;border-top:0.07142857142857em solid #e5e9ec}
.popup .list-note {font-size:0.625rem;line-height:1.4em;word-break:keep-all;padding-top:0.5238095238em}
.popup .list-note li {position:relative;padding:0.2em 0 0.2em 1.1em}
.popup .list-note li:before {content:'※';display:block;position:absolute;top:0.2em;left:0;font-size:0.625rem;}
.popup .box-agree {padding:0.6888888888em 0 0 0.5em}
.popup .ipt-form .lb-title {display:block;line-height:2.3333333333em}
.popup .ipt-form .ipt {margin:0.2142857142857em 0}
.popup .ipt-form.large .ipt {margin:0}
.popup .ipt-form .ipt-small-wrap {overflow:hidden;padding-bottom:0.6666666666em}
.popup .ipt-form .ipt-small-wrap .ipt {display:block;width:21.91%;float:left;text-align:center;font-weight:bold}
.popup .ipt-form .ipt-small-wrap.col-3 .ipt {width:30.2%}
.popup .ipt-form .ipt-small-wrap .bar {display:block;width:4.1%;height:2.142857142857em;font-size:0.875rem;float:left;background:url('//image.genie.co.kr/imageg/mobile/common/icon_bar.png') no-repeat 50% 50%;background-size:0.42857142857em auto;line-height:0;text-indent:-9999px}
.popup .ipt-form .ipt-small-wrap.col-3 .bar {width:4.7%}
.popup .ipt-form .ipt-small-wrap.col-2 .ipt {width:45%}
.popup .ipt-form .ipt-small-wrap.col-2 .at{display:block;width:10%;height:2.142857142857em;font-size:0.875rem;line-height:2.142857142857em;float:left;text-align:center}
.popup .ipt-form .ipt-small-wrap.col-2 .selectbox{width:45%;color:#dfe0e0}
.popup .ipt-form .btn-wrap {padding:0.7142857142857em 0}
.popup .ipt-form .desc {display:inline-block;padding:0.7333333333em 0 0.233333333em;line-height:1.4em;word-break:keep-all}
.popup .loading {display:block;font-size:0.625rem;width:4em;height:1em;margin:1em auto 2em;background:url('//image.genie.co.kr/imageg/mobile/common/loading.gif') no-repeat 50% 100%;background-size:100% auto;line-height:0;text-indent:-9999px;}
.popup .pop-ft {border-top:0.0625em solid #f5f5f5;text-align:center;z-index:20}
.popup .btn-pop {color:#0096FF;display:inline-block;width:100%;font-size:0.833rem;line-height: 3rem; font-weight:700}
.popup .pop-ft.col-2 .btn-pop:first-child {width:50.3125%;float:left;}
.popup .pop-ft.col-2 .btn-pop:last-child {width:49.6875%;float:left; color:#0096FF}
.popup .btn-close {display:block;font-size:1rem;width:2.5em;height:2.5em;margin:1.25em auto 0;background:url('//image.genie.co.kr/imageg/mobile/popup/btn_close.png') no-repeat 50% 50%;background-size:100% auto;line-height:0;text-indent:-9999px}

/* set font size */
html {font-size:16px}
@media screen and (min-width: 405px){
	html {font-size:18px;}
}
/*
@media screen and (min-width: 1080px){
	html {font-size:48px;}
}*/
/* for safari */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0), not all and (min-resolution:.001dpcm) {
	@media {
		.btn-radius-arrow {padding-top:0.051282051258em}
		.list-control a {line-height:3.047619047619em}
		.reply .user a {padding-top:0.090909090909em}
		.reply .list-comment .icon {margin-top:0.08333333333em}
		.reply .list-comment .txt {padding-top:0.8em}
		.reply .btns button:before {margin-top:-0.52083333333em}
		.reply .list-reply li {padding-top:0.7708333333em}
		.reply .btn-more span:before {margin-top:-0.22916666666em}
  }
}