@charset "UTF-8";
@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 400;
  src: url("/commons/font/NanumSquareRoundR.eot");
  src: url("/commons/font/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"), url("/commons/font/NanumSquareRoundR.woff2") format("woff2"), url("/commons/font/NanumSquareRoundR.woff") format("woff"), url("/commons/font/NanumSquareRoundR.ttf") format("truetype");
}

.product_tit {
  height: 3rem;
  width: 100%;
}

.product_tit h1 {
  position: relative;
  height: 3rem;
  width: 100%;
  line-height: 3rem;
  font-size: 1.25rem;
  font-family: 'NotoSans';
  text-align: center;
  border-bottom: 0.0625rem solid #e0e0e0;
  z-index: 10;
  background: #ffffff;
}

.product_tit.fixed h1 {
  position: fixed;
  -webkit-box-shadow: 0 0px 13px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 13px rgba(0, 0, 0, 0.1);
}

.product_tit.blind {
  display: none;
}

.product_wrap {
  width: 100%;
  font-family: 'NotoSans';
  font-weight: 400;
  padding: 1.042rem 0 1.042rem 1.042rem;
}

.product_wrap em {
  vertical-align: middle;
}

.product_wrap sup {
  vertical-align: 0.32rem;
  line-height: 0;
  font-size: 70%;
  padding: 0 0.2rem 0 0.1rem;
}

.product_wrap .go_back {
  font-size: 1.042rem;
  color: #323232;
  display: block;
  margin: -1rem 0 2.083rem;
  text-align: center;
  padding-right: 1.042rem;
}

.product_wrap .go_back a {
  width: 100%;
  display: block;
  background: #f7f7f7;
  border-radius: 0.833rem;
  line-height: 3.667rem;
}

/* box */
.product_box {
  padding-bottom: 1.083rem;
  letter-spacing: -0.026rem;
}

.product_box .title {
  position: relative;
  margin-bottom: 1.021rem;
}

.product_box .title h3 {
  color: #000000;
  font-weight: 700;
  font-size: 1.188rem;
}

.product_box .title h3 sup {
  line-height: 0;
  vertical-align: 0.32rem;
  font-size: 70%;
  padding-right: 0.2rem;
}

.product_box .title h3 span {
  line-height: 0;
  font-family: "NanumSquare";
  padding: 0 0.2rem;
}

.product_box .title .sub_tit {
  color: #8a8a8d;
  font-size: 0.917rem;
  padding-top: 0.396rem;
  display: block;
  line-height: 1.1rem;
}

.product_box .title h5 {
  color: #000000;
  font-weight: 700;
  font-size: 0.917rem;
}

.product_box .title .more {
  position: absolute;
  right: 1.042rem;
  bottom: 0;
  color: #8a8a8d;
  font-size: 0.833rem;
}

.product_box .title_sub {
  padding-top: 0.7rem;
  margin-bottom: 1.021rem;
  color: #000000;
}

.product_box .title_sub h4 {
  font-size: 1.042rem;
  display: inline-block;
}

.product_box .title_sub .sm_tit {
  font-size: 0.833rem;
  color: #8a8a8d;
  padding-left: 0.2rem;
}

/* 이용권리스트 */
.product_list {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product_list li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.042rem;
  padding-right: 1.042rem;
}

.product_list li .detail {
  width: 100%;
  height: 9.271rem;
  -webkit-box-shadow: 0 0px 13px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 13px rgba(0, 0, 0, 0.1);
  border-radius: 0.938rem;
  padding: 0.938rem;
}

.product_list li .detail.blue_br {
  position: relative;
}

.product_list li .detail.blue_br:before {
  content: "";
  border: 0.208rem solid #0096ff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.938rem;
}

.product_list li strong {
  font-weight: 400;
  color: #323232;
  display: block;
  height: 50%;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}

.product_list li strong .sub_tit {
  display: block;
  color: #8a8a8d;
  font-size: 0.833rem;
  padding-top: 0.1rem;
}

.product_list li strong em {
  color: #8a8a8d;
  border: 0.063rem solid #8a8a8d;
  border-radius: 0.479rem;
  font-size: 0.625em;
  line-height: 0.98rem;
  height: 0.979rem;
  padding: 0 0.417rem;
  display: inline-block;
  letter-spacing: -0.06rem;
}

.product_list li .info {
  position: relative;
  color: #8a8a8d;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.833rem;
  line-height: 0.95rem;
}

.product_list li .info.color-red {
  color: #f60000;
}

.product_list li .info .discount {
  color: #f60000;
  font-size: 0.75rem;
  padding-top: 0.15rem;
}

.product_list li .info .discount em {
  padding-right: 0.25rem;
}

.product_list li .info .price {
  color: #000000;
  font-size: 1.146rem;
  padding-top: 0.3rem;
  display: block;
  font-weight: 700;
}

.product_list li .info i {
  position: absolute;
  right: 0;
  bottom: -0.05rem;
  width: 2.813rem;
  line-height: 1.55rem;
  height: 1.396rem;
  border-radius: 0.625rem;
  font-size: 0.688rem;
  text-align: center;
  padding-left: 0.01rem;
  color: #ffffff;
}

.product_list li .info i.mobile {
  background: #b0c9f8;
}

.product_list li .info i.all {
  background: #afd9b1;
}

.product_list li .info i.gift {
  background: #ffca7d;
  bottom: 1.604rem;
}

.product_list li .info.special {
  color: #f60000;
  padding-right: 4.792rem;
}

.product_list li .info.special .gift {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4.167rem;
  height: 4.167rem;
}

.product_list li .info.special .gift img {
  width: 100%;
  border-radius: 0.6rem;
}

.product_list li.on .detail {
  background: #0069df;
}

.product_list li.on .detail.blue_br:before {
  border: none;
}

.product_list li.on strong, .product_list li.on strong span, .product_list li.on .info, .product_list li.on .price {
  color: #ffffff;
}

.product_list li.on strong em {
  color: #ffffff;
  border-color: #ffffff;
}

.product_list li.on .discount {
  color: #ffdb69;
}

.product_list li.on i {
  background: none !important;
}

.product_list li.on i:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0.083rem solid #ffffff;
  border-radius: 0.625rem;
}

.product_list li.full {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.product_list li.full_s {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.product_list li.full_s .detail {
  height: 7.292rem;
}

.product_list.recom .detail {
  position: relative;
}

.product_list.recom .detail:before {
  content: "";
  border: 0.208rem solid #0096ff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.938rem;
}

.product_list.recom li.on .detail:before {
  border: none;
}

.product_list.recom li.on .detail .sub_tit {
  color: #ffffff;
}

/* 이용권 기능안내 table */
.tb_info {
  position: relative;
  color: #8a8a8d;
  border: 0.063rem solid #f3f3f3;
  border-radius: 1.042rem;
  overflow: hidden;
  text-align: center;
  margin-right: 1.042em;
}

.tb_info:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2.563rem;
  background: #f3f3f3;
  z-index: -1;
}

.tb_info caption {
  display: none;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}

.tb_info table {
  width: 100%;
}

.tb_info th {
  font-size: 0.771rem;
  height: 2.563rem;
}

.tb_info th:first-child {
  text-align: left;
  padding-left: 0.979rem;
}

.tb_info .sub_title th {
  background: none;
  height: 1.667rem;
  border: 0.063rem solid #f3f3f3;
  font-size: 0.625rem;
}

.tb_info .sub_title th:first-child, .tb_info .sub_title th:last-child {
  border: none;
}

.tb_info td {
  font-size: 0.771rem;
  padding: 0.6rem 0;
  border-left: 0.063rem solid #f3f3f3;
}

.tb_info td:nth-child(6n+1) {
  text-align: left;
  padding-left: 0.979rem;
  border-left: none;
}

.tb_info tr:last-child td {
  padding-bottom: 1.5rem;
}

/* 유의사항 */
.caution {
  color: #8a8a8d;
  font-size: 0.729rem;
  padding-right: 1.042rem;
}

.caution li {
  padding: 0 0 0.5rem 0.375rem;
  position: relative;
  line-height: 0.875rem;
}

.caution li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 0.188em;
  height: 0.188em;
  border-radius: 50%;
  background: #8a8a8d;
}

/*popup*/
.popview {
  font-family: 'NotoSans';
  letter-spacing: -0.026rem;
  position: fixed;
  width: 100%;
  padding: 1.875rem;
  left: 0;
  bottom: -10px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0px 13px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 13px rgba(0, 0, 0, 0.1);
  border-radius: 0.938rem;
}

.popview .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0;
}

.popview .close:before, .popview .close:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.6rem;
  width: 1.2rem;
  height: 0.125rem;
  background: #000000;
}

.popview .close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popview .close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popview.on {
  opacity: 1;
  z-index: 999;
  background: #ffffff;
  bottom: 0;
}

.popview .title {
  font-size: 1.188rem;
  color: #000000;
  font-weight: 700;
  padding-bottom: 1rem;
}

.popview .title .sub_tit {
  font-size: 1.042rem;
  padding-top: 0.375rem;
}

.popview .pop_content {
  height: 5.5rem;
}

.popview .pop_content .pop_list {
  font-size: 0.833rem;
  color: #8a8a8d;
}

.popview .pop_content .pop_list li {
  padding: 0 0 0.417rem 0.417rem;
  line-height: 1rem;
  position: relative;
}

.popview .pop_content .pop_list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 0.208rem;
  height: 0.208rem;
  background: #8a8a8d;
  border-radius: 50%;
}

.popview .pop_content p {
  font-size: 0.833rem;
  color: #8a8a8d;
  line-height: 1.15rem;
}

.popview .pop_content p.stop {
  color: #f60000;
  font-size: 0.979rem;
  padding-bottom: 0.625rem;
}

.popview .btm_btn {
  font-size: 1.042rem;
  text-align: center;
  width: 100%;
  padding-top: 1.7rem;
}

.popview .btm_btn a {
  width: 10.542rem;
  line-height: 3.125rem;
  background: #0069df;
  color: #ffffff;
  display: inline-block;
  border-radius: 1.042rem;
}

.popview .btm_btn.col-2 {
  display: inline-block;
}

.popview .btm_btn.col-2 a {
  width: 8.792rem;
}

.popview .btm_btn.col-2 a:first-child {
  margin-right: 0.95rem;
}

@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
  }
  .product_list li strong em {
    letter-spacing: -0.1rem;
  }
}

/* 이용권 결제 */
.pay-wrap {
  background: #f4f4f4;
  font-family: 'NotoSans';
  color: #8a8a8d;
  padding-bottom: 3.889rem;
}

.pay-area {
  background: #ffffff;
  padding: 0 1.111rem;
  margin-bottom: 0.556rem;
}

.pay-area i {
  color: #ffffff;
  font-size: 0.556rem;
  border-radius: 0.389rem;
  height: 1rem;
  font-weight: 400;
  padding: 0.25rem 0.333rem 0;
  margin-left: 0.111rem;
  opacity: .6;
  display: inline-block;
  vertical-align: 0.18rem;
}

.pay-area i.blue {
  background: #7ba5f3;
}

.pay-area i.org {
  background: #ffa726;
}

.pay-area i.pink {
  background: #f37e7b;
}

.pay-area i:first-of-type {
  margin-left: 0.2rem;
}

.pay-area h2 {
  line-height: 2.667rem;
  border-bottom: 1px solid #000000;
  padding: 0;
  font-weight: 700;
  color: #000000;
  font-size: 0.944rem;
}

.pay-area .pay-txt {
  padding: 0.889rem 0 1.111rem;
}

.pay-area .pay-txt li {
  font-size: 0.667rem;
  padding: 0 0 0 0.4rem;
  color: #8a8a8d;
  position: relative;
  line-height: 1rem;
  margin-bottom: 0.444rem;
}

.pay-area .pay-txt li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4rem;
  width: 0.111rem;
  height: 0.111rem;
  background: #8a8a8d;
}

.pay-area .btn {
  height: 2.444rem;
  font-weight: 700;
  border-radius: 0.556rem;
}

.pay-area .btn.btn-blue {
  background: #0096ff;
  color: #ffffff;
}

.pay-area input::-webkit-input-placeholder {
  color: #bcbcbc;
}

.pay-area input:-ms-input-placeholder {
  color: #bcbcbc;
}

.pay-area input::-ms-input-placeholder {
  color: #bcbcbc;
}

.pay-area input::placeholder {
  color: #bcbcbc;
}

.pay-area .pay-info {
  padding-top: 1.111rem;
}

.pay-area .pay-info h3 {
  font-weight: 700;
  color: #000000;
  font-size: 0.944rem;
  line-height: inherit;
  padding: 0;
}

.pay-area .pay-info .sub-tit {
  font-size: 0.667rem;
  display: block;
  padding: 0.4rem 0 1.111rem;
}

.pay-area .pay-info .graph-box {
  background: #fafafa;
  border-radius: 0.556rem;
  height: 6.556rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pay-area .pay-info .graph-box ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pay-area .pay-info .graph-box ul li {
  font-size: 0.667rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.pay-area .pay-info .graph-box ul li .num {
  border-radius: 0.778rem;
  height: 1.556rem;
  line-height: 1.556rem;
  border: #bcbcbc 1px solid;
  color: #8a8a8d;
  padding: 0 0.611rem;
  font-weight: 700;
}

.pay-area .pay-info .graph-box ul li .num.num-blue {
  border-color: #0096ff;
  color: #0096ff;
}

.pay-area .pay-info .graph-box ul li strong {
  display: block;
  font-weight: 700;
  color: #000000;
  font-size: 0.833rem;
  margin: 0.778rem 0 0.38rem;
}

.pay-area .pay-info .graph-box ul .dot {
  height: 100%;
  width: 4rem;
  border: none;
}

.pay-area .pay-info .graph-box ul .dot02 {
  height: 100%;
  width: 2rem;
  border: none;
}

.pay-area .tit-type {
  font-weight: 700;
  color: #000000;
  font-size: 0.944rem;
  height: 2.667rem;
  padding-top: 0.8rem;
}

.pay-area .certify {
  text-align: center;
  font-size: 0.722rem;
  padding: 1.111rem 0 1.667rem;
  line-height: 1rem;
}

.pay-area .certify button {
  font-size: 0.833rem;
  width: auto;
  padding: 0 1.056rem;
  margin-top: 1rem;
}

.pay-area .have-point {
  padding-top: 0.556rem;
}

.pay-area .have-point dt, .pay-area .have-point dd {
  width: 50%;
  float: left;
  font-size: 0.833rem;
  color: #000000;
  line-height: 2.667rem;
}

.pay-area .have-point dd {
  text-align: right;
}

.pay-area .have-point::after {
  content: "";
  display: block;
  clear: both;
}

.pay-area .list-select {
  padding: 0.778rem 0;
}

.pay-area .list-select label {
  border: 1px solid #eeeeef;
  height: 5.556rem;
  width: 100%;
  padding: 1.222rem 1rem 0.556rem 5.278rem;
  margin-bottom: 0.556rem;
  border-radius: 0.556rem;
  overflow: hidden;
  line-height: 1.1rem;
}

.pay-area .list-select label::before {
  background: none;
}

.pay-area .list-select label img {
  position: absolute;
  left: 0.556rem;
  top: 0.556rem;
  width: 4.444rem;
  height: 4.444rem;
}

.pay-area .list-select label em {
  font-size: 0.722rem;
  color: #8a8a8d;
}

.pay-area .list-select label strong {
  font-size: 0.833rem;
  color: #000000;
  display: block;
  overflow: hidden;
  height: 2rem;
}

.pay-area .list-select .radio:checked + label {
  border-color: #0096ff;
}

.pay-area .list-gift {
  padding: 0.556rem 0;
}

.pay-area .list-addr {
  padding-bottom: 1.667rem;
}

.pay-area .list-addr li {
  padding-top: 0.778rem;
}

.pay-area .list-addr li .addr-find {
  position: relative;
  padding-right: 4.778rem;
}

.pay-area .list-addr li .addr-find button {
  position: absolute;
  right: 0;
  top: 0;
  width: 4.333rem;
  font-size: 0.722rem;
}

.pay-area .list-addr label {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.pay-area .pay-list p {
  font-weight: 700;
  color: #000000;
  font-size: 0.944rem;
  height: 2.667rem;
  padding-top: 0.8rem;
  display: block;
  position: relative;
}

.pay-area .pay-list p .point-txt {
  position: absolute;
  right: 2.5rem;
  top: 0.95rem;
  font-size: 0.722rem;
  color: #8a8a8d;
  font-weight: 400;
}

.pay-area .pay-list p.open {
  border-bottom: 1px solid #000000;
}

.pay-area .pay-list p::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0.45rem;
  width: 1.667rem;
  height: 1.667rem;
  background: url("//image.genie.co.kr/imageg/mobile_web/payment/ico_pay_bullet.png") no-repeat 0 0;
  background-size: 200% 100%;
}

.pay-area .pay-list p.open::before {
  background-position: 100% 100%;
}

.pay-area .pay-list p.open + .detail {
  display: block;
}

.pay-area .pay-list .detail {
  display: none;
  font-size: 0.833rem;
  color: #000000;
}

.pay-area .pay-list .detail .list-pay {
  padding: 0.833rem 0;
}

.pay-area .pay-list .detail .list-pay li {
  line-height: 2.667rem;
  position: relative;
}

.pay-area .pay-list .detail .list-pay li .benefit {
  position: absolute;
  right: 0;
  top: 0.45rem;
  background: #fafafa;
  font-size: 0.667rem;
  color: #8a8a8d;
  line-height: 1.667rem;
  text-align: right;
  padding: 0 0.444rem;
  border-radius: 0.389rem;
}

.pay-area .pay-list .detail .list-pay li em {
  background: url("//image.genie.co.kr/imageg/mobile_web/payment/ico_pay_method.png") no-repeat 0 0;
  background-size: 100% 400%;
  height: 1.25rem;
  display: inline-block;
  width: 3.5rem;
  text-indent: -9999em;
}

.pay-area .pay-list .detail .list-pay li em.kpay {
  background-position: 0 30%;
}

.pay-area .pay-list .detail .list-pay li em.npay {
  background-position: 0 65%;
}

.pay-area .pay-list .detail .list-point {
  padding-bottom: 0.5rem;
}

.pay-area .pay-list .detail .list-point li {
  padding: 0.611rem 0;
  line-height: 2.444rem;
  position: relative;
  border-bottom: 1px solid #f5f5f5;
}

.pay-area .pay-list .detail .list-point li button {
  position: absolute;
  right: 0;
  top: 0.611rem;
  width: 3rem;
  background: #fafafa;
  color: #000 !important;
}

.pay-area .pay-list .detail .list-point li button.btn-blue {
  background: #0096ff !important;
  color: #ffffff !important;
}

.pay-area .pay-list .detail .list-point li .charge {
  font-size: 0.778rem;
  color: #0096ff;
  padding-left: 1.8rem;
  display: inline-block;
  font-weight: 700;
  position: relative;
}

.pay-area .pay-list .detail .list-point li .charge::before {
  content: "";
  position: absolute;
  left: 0.4rem;
  top: 0.6rem;
  background: url("//image.genie.co.kr/imageg/mobile_web/payment/ico_point.png") no-repeat 0 0;
  background-size: 100%;
  width: 1.278rem;
  height: 1.111rem;
}

.pay-area .pay-list .detail .list-point li .g-cash {
  padding: 0 3.556rem 0 0;
  position: relative;
}

.pay-area .pay-list .detail .list-point li .g-cash input {
  text-align: right;
  font-weight: 700;
  color: #0096ff;
}

.pay-area .pay-list .detail .list-point li .g-cash .btn {
  position: absolute;
  right: 0;
  top: 0;
}

.pay-area .pay-list .detail .list-point li .g-cash .mycash {
  color: #8a8a8d;
  position: relative;
  padding-top: 0.556rem;
}

.pay-area .pay-list .detail .list-point li .g-cash .mycash label {
  position: absolute;
  right: -3.35rem;
  top: 1rem;
  color: #000000;
}

.pay-area .list-agree {
  padding: 0.833rem 0;
}

.pay-area .list-agree li {
  font-size: 0.833rem;
  color: #000000;
  margin: 0.722rem 0;
}

.pay-area .list-agree li .agreetxt {
  font-size: 0.667rem;
  color: #8a8a8d;
  line-height: 1rem;
  padding: 0.5rem 1rem 0 1.85rem;
}

.pay-area .caution {
  padding-bottom: 1.667rem;
}

.pay-area .caution dt {
  font-size: 0.722rem;
  font-weight: 700;
  padding: 1.111rem 0 0.8rem;
}

.pay-area .caution dd {
  font-size: 0.667rem;
  padding: 0 0 0 0.4rem;
  color: #8a8a8d;
  position: relative;
  line-height: 1rem;
  margin-bottom: 0.444rem;
}

.pay-area .caution dd::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4rem;
  width: 0.111rem;
  height: 0.111rem;
  background: #8a8a8d;
}

/*결제버튼*/
.pay-btn {
  height: 3.889rem;
  background: #ffffff;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0.444rem 0.444rem 0.444rem 7.444rem;
  border-top: 1px solid #f4f4f4;
}

.pay-btn .total {
  position: absolute;
  left: 0;
  top: 0.7rem;
  font-size: 0.778rem;
  color: #000000;
  width: 7.444rem;
  text-align: center;
  line-height: 1.3rem;
}

.pay-btn .total em {
  display: block;
  color: #bcbcbc;
}

.pay-btn .btn {
  height: 100%;
  line-height: 3rem;
  border-radius: 0;
  font-size: 0.944rem;
  color: #bcbcbc;
  font-weight: 700;
}

.pay-btn .btn em {
  font-size: 0.667rem;
  font-weight: 400;
}

.pay-btn.on .total em {
  color: #0096ff;
}

.pay-btn.on .btn {
  background: #0096ff;
  color: #ffffff;
}

/*selectbox*/
.select-box {
  padding-bottom: 0.556rem;
}

.select-box .box-area {
  display: inline-block;
  position: relative;
  width: 100%;
}

.select-box .box-area .select {
  position: relative;
  border: 1px solid #eeeeef;
  padding: 0.833rem 1.111rem;
  border-radius: 0.556rem;
  font-size: 0.833rem;
  color: #000000;
}

.select-box .box-area .select::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.select-box .box-area .select::after {
  content: "";
  position: absolute;
  right: 0.833rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("//image.genie.co.kr/imageg/mobile_web/payment/ico_pay_bullet02.png") no-repeat;
  width: 0.778rem;
  height: 0.778rem;
  background-size: 200% 100%;
}

.select-box .box-area .select .gift-content img {
  right: 1rem;
}

.select-box .box-area .list {
  display: none;
  overflow-y: auto;
  border: 1px solid #eeeeef;
  border-top: none;
  padding: 0;
  border-radius: 0 0 0.556rem 0.556rem;
  font-size: 0.833rem;
  color: #000000;
  width: 100%;
  max-height: 200px;
  background: #ffffff;
}

.select-box .box-area .list li {
  padding: 0.833rem 1.111rem;
  width: 100%;
  border-top: 1px solid #eeeeef;
}

.select-box .box-area .gift-content {
  padding: 0.2rem 5rem 0 0;
  position: relative;
  height: 3.778rem;
  line-height: 1.1rem;
}

.select-box .box-area .gift-content em {
  color: #8a8a8d;
  font-size: 0.722rem;
}

.select-box .box-area .gift-content strong {
  display: block;
  height: 2.2rem;
  overflow: hidden;
}

.select-box .box-area .gift-content img {
  position: absolute;
  right: 0;
  top: 0;
  width: 3.778rem;
  height: 3.778rem;
}

.select-box.on .box-area .select {
  border-radius: 0.556rem 0.556rem 0 0;
  border-bottom: none;
  background: #fafafa;
}

.select-box.on .box-area .select::before {
  background-position: 100% 100%;
}

.select-box.on-blue .box-area .select {
  border-color: #0096ff;
}

.select-box.is-disabled {
  pointer-events: none;
}

.select-box.is-disabled .box-area .select {
  background-color: #fafafa;
  color: #bcbcbc;
  border: none;
}
